body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
	margin: 0;
	flex-direction: column;
	font-family: 'Google Sans Mono', 'Courier New', Courier, monospace;
}

.chatBox {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	width: 900px;
	height: 500px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

#chatBox::-webkit-scrollbar {
	width: 6px;
	background-color: #f5f5f5;
}

#chatBox::-webkit-scrollbar-thumb {
	background-color: #6c757d;
}

#chatBox::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}
.inputBox {
	margin-top: 10px;
	display: flex;
	width: 900px;
	height: 70px;
}

.inputBox input[type='text'] {
	flex: 1;
	padding: 10px;
	font-size: 16px;
}

.inputBox input[type='file'] {
	margin-left: 10px;
	padding: 5px;
	font-size: 14px;
	width: 100px;
}

.message {
	white-space: pre-line; /* Hiển thị dòng mới khi gặp \n */
	margin: 5px 0;
	padding: 10px;
	border-radius: 15px;
	max-width: 80%;
	position: relative;
	font-size: 16px;
	word-wrap: break-word; /* Ngắt dòng khi từ quá dài */
	overflow-wrap: break-word; /* Ngắt dòng khi từ quá dài */
}

.sent {
	align-self: flex-end;
	background-color: #abd2ff;
}
.sent,
.received {
	max-width: 60%;
	border-radius: 15px;
}
.received {
	align-self: flex-start;
	background-color: #f1f0f0;
}

.timestamp {
	font-size: 12px;
	color: #212529;
	margin-top: 5px;
	text-align: right;
}

.timesWait {
	font-size: 12px;
	color: #212529;
	margin-top: 5px;
	text-align: right;
	font-weight: 400;
}

.sentImage {
	max-width: 100%;
	border-radius: 5px;
	margin-top: 5px;
}

/* Ẩn input file gốc */
#imageInput {
	display: none;
}

/* Nút chọn file */
.custom-file-upload {
	cursor: pointer;
	height: 100%;
	margin: 0 5px;
	border-radius: 10px;
}

#messageInput {
	border: 1px solid #ccc;
}

#messageInput,
.inputBox button {
	border-radius: 10px;
}

/* Hiệu ứng hover cho nút */
.custom-file-upload:hover {
	background-color: #0056b3;
	/*padding: 0 15px;*/
}

/* Tên file hiển thị */
.file-name {
	font-size: 14px;
	color: #555;
	font-style: italic;
}

.file-upload-container {
	height: 100%;
}

#send {
	padding: 0 31px;
}

.typingIndicator {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px; /* Khoảng cách giữa các chấm */
}

.typingIndicator span {
	width: 10px;
	height: 10px;
	background-color: #555555; /* Màu chấm, giống Messenger */
	border-radius: 50%; /* Tạo hình tròn */
	animation: bounce 1.5s infinite; /* Hiệu ứng nhảy */
}

.typingIndicator span:nth-child(1) {
	animation-delay: 0s;
}

.typingIndicator span:nth-child(2) {
	animation-delay: 0.2s;
}

.typingIndicator span:nth-child(3) {
	animation-delay: 0.4s;
}
.previewImage {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain; /* Giữ nguyên tỷ lệ gốc của ảnh */
	border-radius: 10px;
	margin: 0 5px;
}

.previewLink {
	max-width: 70px;
	text-decoration: none;
	margin: 5px;
	color: #0056b3;
}
@keyframes bounce {
	0%,
	80%,
	100% {
		transform: scale(0);
		opacity: 0.5; /* Hiệu ứng mờ nhẹ khi thu nhỏ */
	}
	40% {
		transform: scale(1);
		opacity: 1; /* Hiệu ứng rõ nét khi phóng to */
	}
}
.titile {
	font-size: 4rem;
	margin-top: 30px;
}

.image-titile {
	width: 86px;
	margin: -36px 0 0 5px;
	/* padding: 0 0 27px 5px; */
}

@media (max-width: 600px) {
	.image-titile {
		width: 58px;
		margin: -23px 0 0 6px;
		/* padding: 0 0 27px 5px; */
	}

	.previewLink {
		max-width: 100%;
	}

	body {
		height: auto;
		padding: 10px;
	}

	.titile {
		margin-top: 1rem;
		font-size: 2.5rem;
	}

	.chatBox {
		width: 100%;
		height: 65vh;
	}

	.inputBox {
		width: 100%;
		height: auto;
		flex-direction: column;
	}

	.inputBox input[type='text'] {
		margin: 5px 5px;
	}

	.inputBox input[type='file'] {
		width: 100%;
		margin-bottom: 10px;
	}

	#send {
		padding: 6px;
		margin: 5px 5px;
	}

	.message {
		max-width: 100%;
	}

	.sent,
	.received {
		max-width: 70%;
	}

	.previewImage {
		max-width: 70px;
	}
	/*.custom-file-upload:hover {*/
	/*    padding: 5px;*/
	/*    margin: 0 5px;*/
	/*}*/

	.file-link-name {
		max-height: 100%;
	}
}
